.Footer {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: slateblue;
}

.Footer h3 {
    margin: 0;
    padding: 0;
}

.Footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Footer-links li a {
    display: block;
}