.Header {
    height: 60px;
    width: 100vw;
    border: solid 1px black;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 8px;
}

.nav-list__left {
    margin-left: 30px;
}

.Header-title {
    font-size: 1.5rem;
}

.nav-list__right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 30px;
}