.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-splash {
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px green;
}

.Home-splash__h1 {
    font-size: 3rem;
    color: black;
}