.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-splash {
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px green;
}

.Home-splash__h1 {
    font-size: 3rem;
    color: black;
}

.Home-trails {
    width: 100vw;
}

.Home-trail-card-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: 340px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 30px;
}