.trail-card {
    display: block;
    max-width: 300px;
    margin-inline: auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: none;
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: black;
}

.trail-card h2,
.trail-card {
    transition: color 0.4s ease-in-out;
}

.trail-card img {
    max-width: 100%;
    object-fit: cover;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.trail-card:hover img,
.trail-card:focus img {
    transform: scale(1.06);
}

.trail-card:hover h2,
.trail-card:focus h2 {
    color: #28666e;
}



.card-body {
    padding-top: 12px;
    padding-bottom: 12px;
}

.card-body h2 {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}