.Trail {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.trail-breadcrumbs {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;

}

.trail-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    width: 60vw;
    padding: 30px;
    background-color: darkgreen;
    border-radius: 16px;
}

.trail-header-trail-heading {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}

.trail-header-trail-difficulty,
.trail-header-trail-area {
    font-size: .9rem;
}

.trail-header-trail-area {
    font-weight: bold;
    text-decoration: underline;
}

.trail-header-trail-area>a:link,
.trail-header-trail-area>a:visited {
    text-decoration: none;
    color: white;
}

.trail-location-link {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}