.trail-card {
    display: block;
    max-width: 300px;
    margin-inline: auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: none;
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: black;
}

.TrailCard-difficulty-ratings {
    padding-top: 8px;
    font-size: 0.8rem;
}

.TrailCard-trail-name {
    font-size: 1rem;
    font-weight: bold;
}

.TrailCard-trail-area {
    font-size: 0.9rem;
    color: slateblue;
    font-weight: bold;
}

.TrailCard-trail-length {
    font-size: 0.85rem;
    color: slategray;
}

.trail-card h3,
.trail-card {
    transition: color 0.4s ease-in-out;
}

.trail-card img {
    max-width: 100%;
    object-fit: cover;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.trail-card:hover img,
.trail-card:focus img {
    transform: scale(1.06);
}

.trail-card:hover h3,
.trail-card:focus h3 {
    color: #28666e;
}



.card-body {
    padding-top: 4px;
    padding-bottom: 8px;
}

.card-body h3 {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}