.trail-reviews {
    display: flex;
    flex-direction: column;
}

.trail-review-stats {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
}

.trail-reviews-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trail-review-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trail-review-header {
    display: flex;
    gap: 15px;
}

.trail-review-header img {
    max-width: 48px;
    height: auto;
}

.trail-review-user-date {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    margin-top: 7px;
}

.trail-review-date {
    font-size: .8rem;
    color: gray;
}

.trail-review-rating-stars {
    display: flex;
    flex-direction: row;
}

.trail-review-rating-stars img {
    max-width: 16px;
    height: auto;
}