.Trail {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF9F6;
}

.trail-section-divider {
    height: 0;
    border-bottom: 1px solid #dbdad2;
}

.trail-breadcrumbs {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.trail-body {
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px -2px rgba(36, 2, 70, 0.3)
}

.trail-header {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
    width: 60vw;
    padding: 30px;
    background-color: slateblue;
    color: white;
}

.trail-header-trail-heading {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}

.trail-header-trail-difficulty,
.trail-header-trail-area {
    font-size: .9rem;
}

.trail-header-trail-area {
    font-weight: bold;
    text-decoration: underline;
}

.trail-header-trail-area>a:link,
.trail-header-trail-area>a:visited {
    text-decoration: none;
    color: white;
}

.trail-location-link {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.trail-info {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 300px;
    width: 60vw;
    padding: 30px;
    gap: 20px;
}

.trail-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.trail-stats-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.trail-stats-label {
    font-size: .9rem;
    color: slategray
}

.trail-stats-value {
    font-weight: bold;
}

.trail-description {
    /* margin-top: 20px; */
    font-size: 1.1rem;
    line-height: 26px;
}

.trail-description h3 {
    padding: 0;
}

.trail-divider-post-heading {
    margin-bottom: 20px;
    ;
}